<h1>Sign In</h1>

<form action="/users/create-session" method="POST" class="row g-3  col-lg-6 mx-auto">
    <input class="form-control" type="email" name="email" placeholder="Email" required>
    <input class="form-control" type="password" name="password" placeholder="Password" required>
    <button type="submit" class="btn btn-dark center">Login</button>
</form>